body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
    text-align: center;
}
.container{
    display: flex;
    height: 1500px;
    width: 1300px;
    border: 1px solid white;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.flex-container {
    display: flex;
}
  
.flex-container > div {
    margin: 10px;
    padding: 50px;
    font-size: 20px;
    font-family: sans-serif;
}
#meal-select{
    padding: 12px;
    width: 55%;
    margin: 15px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
}
#meal-details{
    padding: 30px;
    justify-content: center;
    text-align: center;
}
#ingredient-list{
    padding: 50px;
    margin: 90px;
    text-align: center;
}
#button{
    padding: 12px 30px;
    width: 20%;
    margin-top: 40px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
   
}
#button:hover{
    cursor: pointer;
    background-color: lightgrey;
}
.navbar1 ul{
    list-style: none;
    padding: 2rem ;
    margin: 0;        
    flex: 1;
    text-align: left;
    background-color: lightgrey;
}
.navbar1 li{
    display: inline-block;
}
.navbar1 a{
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 1px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font: arial;
    text-align:center;
    font-size: 18px;
    color: black;
   }
   .navbar1 a:hover{ /*when you show with cursor it will be change the color*/
    color: #ffc107;
   }