body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
    text-align: center;
}
.container{
    display: flex;
    height: 600px;
    width: 1200px;
    border: 1px solid white;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.container > img{
    padding: 30px;
}
.container > p{
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar1 ul{
    list-style: none;
    padding: 2rem ;
    margin: 0;        
    flex: 1;
    text-align: left;
    background-color: lightgrey;
}
.navbar1 li{
    display: inline-block;
}
.navbar1 a{
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 1px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font: arial;
    text-align:center;
    font-size: 18px;
    color: black;
   }
.navbar1 a:hover{ /*when you show with cursor it will be change the color*/
    color: #ffc107;
}